* {

  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(237, 242, 255);
}

.container {

  /* margin-left: 400px;
  margin-top: 40px; */

  width: 350px;
  margin: auto;
}


.headLine {
  font-family: bold;
  /* margin-bottom: 5px;
  margin-left: 60px; */
  text-align: center;
}

.products {
  padding: 0px;
}

.lists {
  list-style: none;
  background-color: rgb(75, 75, 75);
  color: #ffffff;
  /* height: 100px; */
  margin: 10px 0px;
  padding: 10px;
  /* width: 300px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px; */
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
}

.addProducts {
  display: block;
  margin: auto;
  padding: 10px;
  background-color: rgb(0, 163, 76);
  color: #ffffff;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 140px;
  margin-top: 10px; */
}

.addProducts:hover {

  cursor: pointer;
}

/* @media (min-width: 1201px) and (max-width: 1600px) {
  .container {
    margin-left: 400px;
    margin-top: 40px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    margin-left: 400px;
    margin-top: 40px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    margin-left: 400px;
    margin-top: 40px;
  }

}

@media (min-width:577px) and (max-width: 768px) {
  .container {
    margin-left: 400px;
    margin-top: 40px;
  }
}

@media (min-width: 200px) and (max-width: 576px) {
  .container {
    margin-left: 400px;
    margin-top: 40px;
  }
} */